<div class="newListing">
  <form action="/listings" id="new-listing-form" method="post" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Enter your ad title..." required>
    <label for="telephone">Telephone</label>
    <input type="tel" name="telephone" id="telephone" placeholder="(+44) 754 786 6485">
    <input type="submit" id="submit" value="Submit">
  </form>
</div>