<div class="seshCon">
  <h1>Log In</h1>
  <div class="logInCon">
    <form id="new-session-form" action="/sessions" method="post">
      <p>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email...">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your Password...">
      </p>
      <div class="submitButton">
        <input type="submit" value="Submit" id="submit">
      </div>
    </form>
  </div>
  <div class="createCon">
      <a href="/users/new">Don't Have an Account? Create one</a>
    </div>
</div>