<div class="userContainer">
  <h1>Register with Makers' List</h1>

  <div class="newUserForm">
    <form action="/users" id="new-user-form" method="post" enctype="multipart/form-data">
      <div id="error-box"></div>
      <p>
        <label for="first_name">First Name</label>
        <input type="string" id="first_name" name="first_name" placeholder="Enter First Name" required>
      </p>
      <p>
        <label for="last_name">Last Name</label>
        <input type="string" name="last_name" id="last_name" placeholder="Enter Last Name" required>
      </p>
      <p>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter Email" required>
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter Password" required>
      </p>
      <div class="submitButton">
        <input type="submit" id="submit" value="Submit">
      </div>
    </form>
  </div>
</div>

<script src="/JS/script.js"></script>